.btn {
  border-radius: 2px;
}

.btn:focus {
  outline: 0;
}

.btn-success {
  color: #FFF;
  background-color: #43A047;
  border-color: #388E3C;
}

.btn-success:focus {
  color: #FFF;
  background-color: #388E3C;
  border-color: #1B5E20;
}

.btn-success:hover {
  color: #FFF;
  background-color: #388E3C;
  border-color: #2E7D32;
}

.btn-success:active {
  color: #FFF;
  background-color: #388E3C;
  border-color: #2E7D32;
}

.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus {
  color: #FFF;
  background-color: #2E7D32;
  border-color: #1B5E20;
}
