@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VTKS';
  src: url('../assets/fonts/vtks-distress.ttf');
  font-weight: 400;
  font-style: normal;
}
