/*=========================
        STRUCTURAL
=========================*/
@import 'fonts.css';
@import 'main.css';


/*=========================
        COMPONENTS
=========================*/
@import 'button.css';
@import 'radio.css';
@import 'checkbox.css';
@import '../templates/navbar.css';
@import '../templates/footer.css';


/*=========================
           PAGES
=========================*/
@import '../home/home.css';
@import '../about/about.css';
@import '../schedule/schedule.css';
@import '../menu/menu.css';
@import '../book/book.css';


/*=========================
              CONTACT
=========================*/
.contact {
  width: 100%;
  height: 100%;
}

.contact h1 {
  text-align: center;
}

.contact form {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  color: black;
}
