@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-image: url('../assets/images/background.png');
  background-size: cover;
  font-family: Oswald, arial, sans-serif;
}

nav {
  width: 90%;
  height: 20%;
  margin: 0 auto;
  background-image: url('../assets/images/navBarBackground.jpg');
  background-size: 100% 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

nav ul {
  padding: 70px 17% 0 12%;
  text-align: center;
  height: 100%;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: 5%;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.nav-active {
  color: rgba(0,111,62,1);
}

nav ul li a:hover {
  color: rgba(0,111,62,1);
}

div.content {
  max-width: 78.5%;
  min-height: 80%;
  margin: 0 auto;
  background-color: rgba(0,111,62,1);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

div.transparent {
  background-color: rgba(0,111,62,0); 
}

div[ng-view] {
  color: white;
}

footer #footerWidgetContainer {
  margin: 0 auto;
  height: 30%;
  width: 90%;
  padding-left: 10.75%;
}

footer .footerTile {
  height: 100%;
  width: 26%;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  margin-right: 2%;
  float: left;
  text-align: center;
}

footer .footerTile h4 {
  margin: 5px 0;
}

footer div {
  margin-bottom: 20px;
}

footer #footerContactInfo {
  padding-top: 10px;
}

footer #footerContactInfo, footer #footerCopyright {
  height: 30px;
  width: 80%;
  margin: 0 auto;
  color: black;
  background-color: white;
  text-align: center;
  float: left;
  margin-left: 10%;
  margin-bottom: 20px;
  border-radius: 10px;
}

footer #footerCopyright {
  background-color: transparent;
  color: white;
}


/*==================================
              HOME
==================================*/
ul.image.ng-scope {
  height: 80%;
}

ul.image.ng-scope img{
  width: 100%;
}

/*==================================
              ABOUT
==================================*/
.about {
  min-height: 100%;
  width: 100%;
  text-align: center;
}

.about img{
  padding: 20px;
  min-height: 100%;
  max-width: 100%;

}

.about div {
  margin: 40px;
}

.about div a {
  font-size: 24px;
  padding: 15px 50px;
  text-decoration: none;
}

/*==================================
              SCHEDULE
==================================*/

.schedule {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.schedule iframe {
  width: 100%;
  height: 100%;
}

/*==================================
              MENU
==================================*/

/*==================================
              BOOK
==================================*/

.book form {
  padding: 25px;
  background-color: white;
  color: black;
  margin: 25px;
}

.book .form-group {
  padding: 10px 0;
}

.book .form-group input {
  margin-right: 5px;
}

/*==================================
              CONTACT
==================================*/

.contact {
  width: 100%;
  height: 100%;
}

.contact h1 {
  text-align: center;
}