@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

body {
  font-family: Oswald, arial, sans-serif;
  color: #FFF;
  color: rgba(255,255,255,.8);
  background-color: #202020;
  font-weight: 300;
  letter-spacing: .05em;
}

a:focus {
  outline: 0;
}

.content {
  min-height: calc(100vh - 145px);
  max-width: 1000px;
  margin: 48px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .content {
    margin-top: 80px
  }
}


/*==================================
              NAVBAR
==================================*/
.navbar {
  min-height: 48px;
  margin-bottom: 0;
  border: 0;
  background-color: #303030;
}

.navbar > .container {
  width: 100%;
  max-width: 1000px;
}

.navbar-header {
  padding: 0;
}

.navbar-header > .navbar-brand {
  width: 100%;
}

.navbar-brand {
  display: none;
  height: auto;
  padding: 8px 0;
}

.navbar-brand > img {
  max-height: 64px;
  margin: 0 auto;
}

.navbar-toggle {
  margin: 0;
  border: 0;
  padding: 23px 12px 22px;
}

.hamburger,
.hamburger:before,
.hamburger:after {
  position: relative;
  display: block;
  height: 3px;
  width: 24px;
  background-color: #FFF;
}

.hamburger {
  -webkit-transition: .1s cubic-bezier(.4,0,.2,1);
     -moz-transition: .1s cubic-bezier(.4,0,.2,1);
       -o-transition: .1s cubic-bezier(.4,0,.2,1);
          transition: .1s cubic-bezier(.4,0,.2,1);
}

.hamburger:before,
.hamburger:after {
  content: ' ';
  -webkit-transition: .2s cubic-bezier(.4,0,.2,1);
     -moz-transition: .2s cubic-bezier(.4,0,.2,1);
       -o-transition: .2s cubic-bezier(.4,0,.2,1);
          transition: .2s cubic-bezier(.4,0,.2,1);
}

.hamburger:before {
  top: -6px;
}

.hamburger:after {
  top: 3px;
}

.navbar-toggle[aria-expanded='true'] .hamburger {
  background-color: transparent;
}

.navbar-toggle[aria-expanded='true'] .hamburger:before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-toggle[aria-expanded='true'] .hamburger:after {
  top: -3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-nav {
  width: 100%;
  margin: 0;
}

.navbar-nav > li > a {
  color: #FFF;
  color: rgba(255,255,255,.8);
  line-height: 28px;
  font-weight: 400;
}

.navbar-nav > li > a:focus {
  background-color: #353535;
}

.navbar-nav > li > a:hover {
  background-color: #404040;
}

.navbar-nav > li > a.nav-active {
  color: #006F3E;
  color: rgba(0,111,62,.8);
}

.navbar-collapse {
  border-color: #404040;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  .navbar > .container {
    padding: 0;
  }

  .navbar-brand {
    display: block;
  }

  .navbar > .container .navbar-brand {
    margin-left: 0;
  }

  .navbar-fixed-top .navbar-collapse {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-nav > li {
    width: 16.66666667%;
    text-align: center;
  }

  .navbar-nav > li > a {
    margin: 16px 0;
    border-radius: 2px;
    padding: 10px;
  }
}


/*==================================
              FOOTER
==================================*/
.footer {
  height: 96px;
  background-color: #303030;
  padding: 0;
}

.footer .social,
.footer .copyright {
  height: 48px;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: inherit;
}

.footer .social > div:first-child {
    display: none;
  }

.footer .social > div {
  text-align: center;
}

.footer span,
.footer a,
.footer i {
  line-height: 48px;
}

.footer .phone {
  display: inline-block;
  padding: 0 10px;
  color: #006F3E;
  color: rgba(0,111,62,.8);
}

.footer .social .media {
  display: block;
  float: left;
  width: 33.333333%;
  margin: 0;
}

.footer .social .fa {
  min-width: 48px;
  font-size: 24px;
  -webkit-transition: .2s cubic-bezier(.4,0,.2,1);
     -moz-transition: .2s cubic-bezier(.4,0,.2,1);
       -o-transition: .2s cubic-bezier(.4,0,.2,1);
          transition: .2s cubic-bezier(.4,0,.2,1);
}

.footer .social .fa:hover,
.footer .social .fa:focus {
  text-decoration: none;
}

.fa-envelope-o:hover,
.fa-envelope-o:focus {
  color: #FFF !important;
}

.fa-yelp:hover,
.fa-yelp:focus {
  color: #C41200 !important;
}

.fa-facebook-official:hover,
.fa-facebook-official:focus {
  color: #3B5998 !important;
}

.footer .copyright {
  font-size: 12px;
}

@media (max-width: 991px) {
  .phone {
    text-decoration: underline;
  }

  .fa-envelope-o {
    color: #FFF;
  }

  .fa-yelp {
    color: #C41200;
  }

  .fa-facebook-official {
    color: #3B5998;
  }
}

@media (min-width: 768px) {
  .footer .social div:first-child {
    display: block;
  }

  .footer .phone {
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .footer .social .fa {
    color: #606060;
  }
}


/*==================================
              HOME
==================================*/
.banner {
  margin-bottom: 30px;
}

.banner h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-weight: inherit;
}

.banner .img-responsive {
  padding: 0;
}

.embed {
  max-width: 750px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .banner .img-responsive:last-child {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .banner {
    margin-bottom: 45px;
  }

  .banner h1 {
    font-size: 48px;
  }

  .banner .img-responsive:last-child {
    padding-left: 15px;
  }
}


/*==================================
              ABOUT
==================================*/
.about {
  min-height: 100%;
  width: 100%;
  text-align: center;
}

.about img{
  padding: 20px;
  min-height: 100%;
  max-width: 100%;

}

.about div {
  margin: 40px;
}

.about div a {
  font-size: 24px;
  padding: 15px 50px;
  text-decoration: none;
}

/*==================================
              SCHEDULE
==================================*/

.schedule {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.schedule iframe {
  width: 100%;
  height: 100%;
}

/*==================================
              MENU
==================================*/

.menu {
  min-height:100%;
  padding: 20px;
}
.panel {
  height: 250px;
  width: 100%;
  background-color: black;
  margin: 0;
  border-radius: 0;
}

.menu-image {
  width: 250px;
  height: 250px;
  float: left;
  background-size: cover;
}
.menu-text {
  width: calc(100% - 250px);
  height: 100%;
  float: right;
  text-align: justify;
  padding-right:10%;
  padding-top: 75px;
}
.americanPic {
  background-image: url(../assets/images/American.png);
}
.bluePic {
  background-image: url(../assets/images/Blue.png);
}
.meltPic {
  background-image: url(../assets/images/Melt.png);
}
.creaturePic{
  background-image: url(../assets/images/Creature.png);
}
.attackPic{
  background-image: url(../assets/images/Attack.png);
}
.carnivorePic{
  background-image: url(../assets/images/Carnivore.png);
}
.satyrePic{
  background-image: url(../assets/images/Satyre.png);
}
.screamingPic{
  background-image: url(../assets/images/Screaming.png);
}
.lambPic{
  background-image: url(../assets/images/Lamb.png);
}

/*==================================
              BOOK
==================================*/

.book form {
  padding: 25px;
  background-color: white;
  color: black;
  margin: 25px;
  border-radius: 10px;
}

.book .form-group {
  padding: 10px 0;
}

.book .form-group input {
  margin-right: 5px;
}

/*==================================
              CONTACT
==================================*/

.contact {
  width: 100%;
  height: 100%;
}

.contact h1 {
  text-align: center;
}

.contact form {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  color: black;
}