body {
  font-family: Oswald, arial, sans-serif;
  color: #FFF;
  color: rgba(255,255,255,.8);
  background-color: #202020;
  font-weight: 300;
  letter-spacing: .05em;
}

a:focus {
  outline: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

.content {
  min-height: auto;
  min-height: calc(100vh - 145px);
  max-width: 1000px;
  margin: 48px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.vtks {
  font-family: VTKS, arial, sans-serif;
  font-weight: 400;
}

.form-control {
  height: 40px;
  max-width: 320px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
  padding: 10px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .content {
    min-height: calc(100vh - 177px);
    margin-top: 80px
  }
}
