<footer>
  <div id="footerWidgetContainer">
    <div class="footerTile">
      <h4>Check Out Our Yelp</h4>
      <hr>
      <section>
        <a href="http://www.yelp.com/biz/burger-monster-orange-county" target="_blank"><img src="app/assets/images/yelp.png"></a>
      </section>
    </div>
    <div class="footerTile">
      <h4>Facebook Photos</h4>
      <hr>
      <section class="fb-photos">
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/blue.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/buns.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/carnivore.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/littlefan.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/lineup.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/truck.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/dracula.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/longline.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/monstermash.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/namm.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/owners.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/sliders.png"></a>
        <a href="https://www.facebook.com/OCBurgerMonster" target="_blank"><img src="app/assets/images/facebook/vidcon.png"></a>
      </section>
    </div>
    <div class="footerTile">
      <h4>Burger Monster is on the LOOSE!</h4>
      <hr>
      <section>
        <iframe src="https://www.youtube.com/embed/28OmlaJcsTs" frameborder="0" allowfullscreen></iframe>
      </section>
    </div>
  </div>
  <div id="footerContactInfo">
    Orange County, CA • Phone: 714-886-9627 • info@burgermonster.net
  </div>
  <div id="footerCopyright">
    Copyright © 2012 Burger Monster. All rights reserved.
  </div>
</footer>