<footer class="footer container-fluid">
  <div class="social row">
    <div class="col-sm-4">
      <span>Orange County, CA</span>
    </div>

    <div class="col-xs-5 col-sm-4">
      <a class="phone" href="tel://1-714-886-9627">(714) 886-9627</a>
    </div>

    <div class="col-xs-7 col-sm-4">
      <div class="media">
        <a class="fa fa-envelope-o" href="mailto:info@burgermonster.net" target="_top"></a>
      </div>
      <div class="media">
        <a class="fa fa-yelp" href="https://www.yelp.com/biz/burger-monster-orange-county" target="_blank"></a>
      </div>
      <div class="media">
        <a class="fa fa-facebook-official" href="https://www.facebook.com/OCBurgerMonster" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="copyright text-center">
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <span>Copyright 2016 Burger Monster. All rights reserved.</span>
  </div>
</footer>