<footer>
  <div id="footerWidgetContainer">
    <div class="footerTile">
      <h4>Check Out Our Yelp</h4>
      <hr>
      <section>

      </section>
    </div>
    <div class="footerTile">
      <h4>Facebook Photos</h4>
      <hr>
      <section>

      </section>
    </div>
    <div class="footerTile">
      <h4>Burger Monster is on the LOOSE!</h4>
      <hr>
      <section>

      </section>
    </div>
  </div>
  <div id="footerContactInfo">
    Orange County, CA • Phone: 714-886-9627 • info@burgermonster.net
  </div>
  <div id="footerCopyright">
    Copyright © 2012 Burger Monster. All rights reserved.
  </div>
</footer>