<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-brand col-sm-1">
      <img alt="Burger Monster" src="app/assets/images/logo-burger.png" />
    </div>

    <div class="navbar-brand col-sm-2 col-sm-push-9">
      <img alt="Burger Monster" src="app/assets/images/logo-text.png" />
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse col-sm-9 col-sm-pull-2" id="navbar-collapse">
      <ul class="nav navbar-nav hidden-xs">
        <li>
          <a href="/#/" is-active>HOME</a>
        </li>
        <li>
          <a href="/#/schedule" is-active>SCHEDULE</a>
        </li>
        <li>
          <a href="/#/menu" is-active>MENU</a>
        </li>
        <li>
          <a href="/#/book" is-active>BOOK</a>
        </li>
        <li>
          <a href="/#/contact" is-active>CONTACT</a>
        </li>
        <li>
          <a href="/#/about" is-active>ABOUT</a>
        </li>
      </ul>

      <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
        <li>
          <a data-toggle="collapse" data-target="#navbar-collapse" href="/#/" is-active>HOME</a>
        </li>
        <li>
          <a data-toggle="collapse" data-target="#navbar-collapse" href="/#/schedule" is-active>SCHEDULE</a>
        </li>
        <li>
          <a data-toggle="collapse" data-target="#navbar-collapse" href="/#/menu" is-active>MENU</a>
        </li>
        <li>
          <a data-toggle="collapse" data-target="#navbar-collapse" href="/#/book" is-active>BOOK</a>
        </li>
        <li>
          <a data-toggle="collapse" data-target="#navbar-collapse" href="/#/contact" is-active>CONTACT</a>
        </li>
        <li>
          <a data-toggle="collapse" data-target="#navbar-collapse" href="/#/about" is-active>ABOUT</a>
        </li>
      </ul>
    </div>

    <div class="navbar-menu navbar-social">
      <div class="media">
        <a class="fa fa-instagram" href="https://www.instagram.com/ocburgermonster/" target="_blank"></a>
      </div>
      <div class="media">
        <a class="fa fa-yelp" href="https://www.yelp.com/biz/burger-monster-orange-county" target="_blank"></a>
      </div>
      <div class="media">
        <a class="fa fa-facebook-official" href="https://www.facebook.com/OCBurgerMonster" target="_blank"></a>
      </div>
    </div>
  </div>
</nav>
